<section ng-if="!$ctrl.loading">
    <div class="redeem separator hide-on-med-only"></div>
    <div class="teal lighten-3 redeem waterfall center" style="height: 30% !important">
        <img src="image/slideshow/redeem-1.jpg" alt="background img" class="redeem-offer-img">
    </div>
</section>

<section style="min-height: 500px" ng-if="$ctrl.loading">
    <thai-spinner position="$ctrl.spinnerPosition"></thai-spinner>
</section>

<section ng-if="!$ctrl.loading">
    <div class="row" style="background: whitesmoke">
        <div class="col l2">
            <user-sidebar ng-if="$ctrl.loggedIn"></user-sidebar>
            <app-search-sidebar products="$ctrl.products"></app-search-sidebar>
        </div>
        <div class="col l10 m12 s12 prod-list-holder">
            <div class="row" style="background: whitesmoke">
                <app-redeem-products products="$ctrl.products"></app-redeem-products>
            </div>
        </div>
    </div>
</section>