<ul class="home collection with-header z-depth-1" style="min-height: 400px">
    <li class="collection-header main-green" style="padding: 5px 10px; border-bottom: none">
        <p class="white-text"> Categories<i class="material-icons waves-effect waves-light right">menu</i></p>
    </li>
    <li class="collection-item cat" ng-repeat="category in $ctrl.categories" ng-class="{'main-green': $ctrl.active === category.cm_slug}" ng-click="$ctrl.location(category.cm_slug)" add-hover><a href="" ng-class="{'black-text': $ctrl.active !== category.cm_slug,'white-text': $ctrl.active === category.cm_slug}" ng-show="!$ctrl.loading"><i class="material-icons left">timer</i> {{category.cm_name}} </a></li>
    <li class="collection-item cat" ng-class="{'main-green': $ctrl.active === 'redeem-shop'}" ng-click="$ctrl.location('redeem-shop')" add-hover><a href="" ng-class="{'black-text': $ctrl.active !== 'redeem-shop','white-text': $ctrl.active === 'redeem-shop'}" ng-show="!$ctrl.loading"><i class="material-icons left">loyalty</i>Redeem Shop</a></li>
</ul>