<div>
    <div class="separator hide-on-med-only" style="height:50px !important"></div>
    <div class="row" style="margin-bottom: 0">
        <div class="col s12" style="padding: 0">
            <div class="">
                <div class="slider top-slider">
                    <button class="btn btn-floating btn-large white z-depth-3 slider-button left-one waves-effect" ng-click="moveSlider('prev')">
                        <i class="material-icons main-green-text">chevron_left</i>
                    </button>
                    <button class="btn btn-floating btn-large white z-depth-3 slider-button right-one waves-effect" ng-click="moveSlider('next')">
                        <i class="material-icons main-green-text">chevron_right</i>
                    </button>
                    <ul class="slides">
                        <li ng-repeat="image in $ctrl.slideImages">
                            <img src="{{image.image}}" alt="{{image.description}}">
                        </li>
                        <!-- <li>
                            <img src="image/slideshow/offers2.jpg" alt="Costumes and designers materials">
                        </li>
                        <li>
                            <img src="image/slideshow/offers3.jpg" alt="Enjoy great prices">
                        </li>
                        <li>
                            <img src="image/slideshow/redeem.jpg" alt="Get discounted prices">
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background: whitesmoke">
        <div class="col l2 m12 s12 hide-on-med-and-down">
            <all-categories data-pin="true"></all-categories>
        </div>

        <div class="col l10 m12 s12 prod-list-holder" style="min-height: 400px">
            <div class="row" id="prod-list" style="margin-bottom: 0">
                <div style="position: relative; min-height: 400px">
                    <thai-spinner position="$ctrl.spinnerPosition" ng-show="dataLoading"></thai-spinner>
                    <product-list products="deals" columns="3" ng-hide="dataLoading"></product-list>
                </div>

                <th-carousel></th-carousel>

                <div style="position: relative; min-height: 400px">
                    <thai-spinner position="$ctrl.spinnerPosition" ng-show="dataLoading"></thai-spinner>
                    <product-list products="rest" columns="3" id="home" ng-hide="dataLoading"></product-list>
                </div>
            </div>
        </div>
    </div>
</div>