<div class="separator hide-on-med-only"></div>
<div class="teal lighten-3 waterfall center" style="background: url('image/header-bg.png'); padding: 25px 15px;">
    <h3 class="white-text waterfall-header"><span style="text-transform: capitalize">{{category}}</span> Category</h3>
</div>

<div class="row" style="background: whitesmoke">
    <div class="col l10 m12 s12 push-l2" style="margin-top: 15px" id="cat-list">
        <div style="min-height: 400px">

            <div ng-show="!dataLoading">
                <div class="hide-on-med-and-up" ng-if="inMobile">
                    <div style="float: left; width: 50%">
                        <md-menu md-offset="0 -7">
                            <md-button aria-label="Open demo menu" class="" ng-click="$mdMenu.open($event)">
                                <i class="material-icons">filter_list</i> Sort <i class="material-icons arrow-down">arrow_drop_down</i>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>Popular</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>Latest</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>Old</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>New</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>Size</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>Colour</span></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div style="float: right; width: 50%">
                        <md-menu md-offset="0 -7">
                            <md-button aria-label="Open demo menu" class="" ng-click="$mdMenu.open($event)">
                                <i class="material-icons">attach_money</i> Range <i class="material-icons arrow-down">arrow_drop_down</i>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>฿100 - ฿200</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>฿300 - ฿400</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>฿400 - ฿500</span></md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button> <span md-menu-align-target>฿500 over</span></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>

                <product-list products="products" columns="3" limit="$ctrl.limit"></product-list>

                <div class="preloader-wrapper loader" ng-class="{active : dataLoading}">
                    <div class="spinner-layer spinner-teal-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="col l2 m12 s12 pull-l10" ng-if="!inMobile">
        <all-categories active="category" class="category hide-on-med-and-down"></all-categories>

        <div>
            <app-search-sidebar limit="$ctrl.limit"></app-search-sidebar>
        </div>
    </div>
</div>