<div class="separator hide-on-med-only"></div>
<div class="teal lighten-3 waterfall" style="background: url('image/header-bg.png'); padding: 25px 15px; text-align: center">
    <h3 class="white-text waterfall-header"><span style="text-transform: capitalize">{{category}}</span> Category</h3>
</div>

<div class="row">
    <div class="col l10 m12 s12 push-l2" style="margin-top: 15px" id="cat-list">
        <div style="min-height: 400px">
            <div ng-show="!dataLoading">
                <div class="hide-on-med-and-up">
                    <div style="float: left; width: 50%">
                        <ul class="dropdown-content" id="filter">
                            <li><a class="black-text">Latest</a></li>
                            <li><a class="black-text">Old</a></li>
                            <li><a class="black-text">New</a></li>
                        </ul>
                        <a class="dropdown-button btn-flat waves-effect waves-teal" data-activates="filter" href="javascript:void(0)" style="font-size: 16px; font-weight: 600">
                            <i class="material-icons left">filter_list</i> Filter <i class="material-icons right" style="font-size: 29px">arrow_drop_down</i>
                        </a>
                    </div>
                    <div style="float: right; width: 50%">
                        <ul class="dropdown-content" id="amounts">
                            <li><a class="black-text">฿100 - ฿200</a></li>
                            <li><a class="black-text">฿300 - ฿400</a></li>
                            <li><a class="black-text">฿400 - ฿500</a></li>
                            <li><a class="black-text">฿500 over</a></li>
                        </ul>
                        <a class="dropdown-button btn-flat waves-effect waves-teal" data-activates="amounts" href="javascript:void(0)" style="font-size: 16px; font-weight: 600">
                            <i class="material-icons left">attach_money</i> Range <i class="material-icons right" style="font-size: 29px;">arrow_drop_down</i>
                        </a>
                    </div>
                </div>
                <product-list products="products" columns="3" limit="limit"></product-list>
                <product-list products="products" columns="3" limit="limit"></product-list>
                <div class="preloader-wrapper active" style="left: 50%" ng-if="loading">
                    <div class="spinner-layer spinner-teal-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="preloader-wrapper loader" ng-class="{active : dataLoading}">
            <div class="spinner-layer spinner-teal-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="col l2 m12 s12 pull-l10">
        <all-categories active="category" class="category hide-on-med-and-down"></all-categories>

        <div>
            <ul class="collection with-header hide-on-med-and-down z-depth-1">
                <li class="collection-header main-green" style="padding: 5px 10px; border-bottom: none">
                    <p class="white-text">
                        Advanced Search <i class="material-icons waves-effect waves-light right">filter_list</i>
                    </p>
                </li>
                <li class="collection-item">
                    <p class="input-field inline">
                        <input name="grp3" type="checkbox" id="new" ng-click="limit = 4" /> <label for="new" class="black-text"> New Product</label>
                    </p>
                </li>
                <li class="collection-item">
                    <p class="input-field inline">
                        <input name="grp2" type="checkbox" id="use" ng-click="limit = 2" ng-checked="clicked" /> <label for="use" class="black-text">Products Used</label>
                    </p>
                </li>
                <li class="collection-item">
                    <p class="input-field inline">
                        <input name="group1" type="checkbox" id="dis" ng-click="limit = 3" ng-checked="clicked" /> <label for="dis" class="black-text">Discount shipping</label>
                    </p>
                </li>
                <li class="collection-item">
                    <p class="input-field inline">
                        <input name="grp4" type="checkbox" id="ship" ng-click="limit = 1" ng-checked="clicked" /> <label for="ship" class="black-text">Shipping</label>
                    </p>
                </li>
                <li class="collection-item">
                    <p class="input-field inline">
                        <input name="group1" type="checkbox" id="sale" ng-click="limit = 5; clicked=true" ng-checked="clicked" /> <label for="sale" class="black-text">Wholesale</label>
                    </p>
                </li>
                <li class="collection-header teal-text text-darken-3" style="padding: 5px 10px;">Price Range</li>
                <li class="collection-item" style="padding: 20px">
                    <li class="collection-item">
                        <button class="btn btn-floating waves-effect tooltipped" data-position="top" data-delay="50" data-tooltip="Ok">
						<i class="material-icons">thumb_up</i>
					</button>
                        <button class="btn btn-floating waves-effect red tooltipped" style="margin-left: 25px;" data-delay="50" data-position="top" data-tooltip="Clear All" ng-click="clicked=false">
						<i class="material-icons">delete_forever</i>
					</button>
                    </li>

            </ul>


        </div>
    </div>
</div>