<div class="card z-depth-0">
    <div class="card-content">
        <div class="">
            <span class="card-title left ebony-blue-text" style="font-size: 16px; font-weight: 500; letter-spacing: .04em; text-transform: uppercase"><i
                    class="material-icons ebony-blue-text left" style="font-size: 30px">gavel</i>Auctions</span>
        </div>

        <div class="divider"></div>
        <div>
            <div class="col s12">
                <ul class="tabs tabs-fixed-width tabs-transparent main-green z-depth-1">
                    <li class="tab col s3"><a href="#active" class="active" ng-click="$ctrl.getAuctions({action: 'ACTIVE', paginate: 5})"> Active Auctions</a></li>
                    <li class="tab col s3"><a href="#won"  ng-click="$ctrl.getAuctions({action: 'WON', paginate: 5})"> Won Auctions</a></li>
                    <li class="tab col s3"><a href="#lost" ng-click="$ctrl.getAuctions({action: 'LOST', paginate: 5})"> Lost Auctions</a></li>
                </ul>
            </div>

            <div id="active" class="col s12">
                <div>
                    <md-table-container>
                        <table md-table md-row-select="false" multiple="false" ng-model="$ctrl.selected" md-progress="$ctrl.loading">
                            <thead md-head md-order="$ctrl.query.order" md-on-reorder="$ctrl.getOrders">
                                <tr md-row>
                                    <th md-column><span>Status</span></th>
                                    <th md-column md-order-by="name"><span>Item Name</span></th>
                                    <th md-column md-numeric md-order-by="price"><span>Your Bid</span></th>
                                    <th md-column md-numeric>Next Min Bid</th>
                                    <th md-column md-numeric>TimeStamp</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="order" md-select-id="name" md-auto-select ng-repeat="auction in $ctrl.auctions | orderBy: $ctrl.query.order | limitTo: $ctrl.query.limit | filter: $ctrl.query.filter">
                                    <td md-cell>
                                        <a class="tooltipped" data-delay="50" data-position="bottom" data-tooltip="Lost Auction"><i class="material-icons light-blue-text darken-2"
                                                                 >timer</i></a>
                                    </td>
                                    <td md-cell>{{auction.name}}</td>
                                    <td md-cell>{{auction.price | currencyName: 'baht'}}</td>
                                    <td md-cell>{{auction.price + 10 | currencyName : 'baht'}}</td>
                                    <td md-cell>{{auction.timer | date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-limit=" $ctrl.query.limit " md-limit-options="[10, 15, 20] " md-page="$ctrl.query.page " md-total="{{$ctrl.auctions.length}} " md-on-paginate="$ctrl.getOrders " md-page-select></md-table-pagination>

                </div>
            </div>
            <div id="won" class="col s12">
                <div>
                    <md-table-container>
                        <table md-table md-row-select="false" multiple="false" ng-model="$ctrl.selected" md-progress="$ctrl.loading">
                            <thead md-head md-order="$ctrl.query.order" md-on-reorder="$ctrl.getOrders">
                                <tr md-row>
                                    <th md-column><span>Status</span></th>
                                    <th md-column md-order-by="name"><span>Item</span></th>
                                    <th md-column md-numeric md-order-by="price"><span>Your Bid</span></th>
                                    <th md-column md-numeric>Winning Bid</th>
                                    <th md-column md-numeric>Total Bids</th>
                                    <th md-column md-numeric>Completed</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="order" md-select-id="name" md-auto-select ng-repeat="auction in $ctrl.auctions | orderBy: $ctrl.query.order | limitTo: $ctrl.query.limit | filter: $ctrl.query.filter">
                                    <td md-cell><a class="tooltipped" data-delay="50" data-position="bottom" data-tooltip="Lost Auction"><i class="material-icons light-green-text darken-2"
                                                                  >check_circle</i></a></td>
                                    <td md-cell>{{auction.name}}</td>
                                    <td md-cell>{{auction.price | currencyName: 'baht'}}</td>
                                    <td md-cell>{{auction.price + 10 | currencyName : 'baht'}}</td>
                                    <td md-cell>{{auction.price + 25}}</td>
                                    <td md-cell>{{auction.timer | date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-limit=" $ctrl.query.limit " md-limit-options="[10, 15, 20] " md-page="$ctrl.query.page " md-total="{{$ctrl.auctions.length}} " md-on-paginate="$ctrl.getOrders " md-page-select></md-table-pagination>

                </div>
            </div>
            <div id="lost" class="col s12">
                <div>
                    <md-table-container>
                        <table md-table md-row-select="false" multiple="false" ng-model="$ctrl.selected" md-progress="$ctrl.loading">
                            <thead md-head md-order="$ctrl.query.order" md-on-reorder="$ctrl.getOrders">
                                <tr md-row>
                                    <th md-column><span>Status</span></th>
                                    <th md-column md-order-by="name"><span>Item</span></th>
                                    <th md-column md-numeric md-order-by="price"><span>Your Bid</span></th>
                                    <th md-column md-numeric>Winning Bid</th>
                                    <th md-column md-numeric>Total Bids</th>
                                    <th md-column md-numeric>Completed</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row md-select="order" md-select-id="name" md-auto-select ng-repeat="auction in $ctrl.auctions | orderBy: $ctrl.query.order | limitTo: $ctrl.query.limit | filter: $ctrl.query.filter">
                                    <td md-cell><a class="tooltipped" data-delay="50" data-position="bottom" data-tooltip="Lost Auction"><i class="material-icons red-text darken-2"
                                                                >cancel</i></a></td>
                                    <td md-cell>{{auction.name}}</td>
                                    <td md-cell>{{auction.price | currencyName: 'baht'}}</td>
                                    <td md-cell>{{auction.price + 10 | currencyName : 'baht'}}</td>
                                    <td md-cell>{{auction.price + 25}}</td>
                                    <td md-cell>{{auction.timer | date}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <md-table-pagination md-limit=" $ctrl.query.limit " md-limit-options="[10, 15, 20] " md-page="$ctrl.query.page " md-total="{{$ctrl.auctions.length}} " md-on-paginate="$ctrl.getOrders " md-page-select></md-table-pagination>

                </div>
            </div>
        </div>
    </div>
</div>