<header ng-show="showNav" id="header" ng-if="!search">
    <div class="navbar-fixed" id="table" ng-if="!search" style="transition: 0s">
        <ul class="dropdown-content" id="profile">
            <li><a href="/user/{{username}}" class="black-text">My profile</a></li>
            <li><a href="" class="black-text" ng-click="logout()">Logout</a></li>
        </ul>

        <ul class="dropdown-content" id="cart">
            <li ng-repeat="item in itemsInCart" ng-show="itemsInCart.length" class="cart-items">
                <a href="" class="" style="display: inline-flex; width: 100%; cursor: unset"><img src="{{item.image}}" alt="" class="circle dropdown-img">
                    <p class="black-text">{{item.name}} - <span ng-if="item.is_redeemable">{{item.points}}p</span> <span class="blue-grey-text" ng-if="!item.is_redeemable">{{item.price | currency: '฿'}}</span>
                    </p>
                </a>
                <p class="cart-quan">x1</p>
                <i class="material-icons right red-text waves-effect waves-light cart-del" ng-click="removeFromCart($index, itemsInCart)">delete_forever</i>
            </li>

            <div class="divider" style="margin: 0"></div>
            <li class="" ng-show="itemsInCart.length" style="padding: 14px 8px; cursor: unset !important" class="cart-empty">
                <a class="cart-empty" style="font-size: 12px; padding: 0">
                    <button class="btn waves-effect right z-depth-0" ng-click="checkout()">
                            Proceed to checkout
                        </button>
                </a>
            </li>

            <li class="cart-empty" ng-if="!itemsInCart.length" style="padding: 50px">
                <a href="" class="cart-empty center" style="width: 100%;">
                    <p class="center"><i class="material-icons circle teal medium">shopping_cart</i></p>
                    <p class="center" style="text-transform: uppercase; font-size: 13px; font-weight: 500">Your Cart is empty</p>
                </a>
            </li>
        </ul>


        <nav class="nav-extended main-green" ng-if="!search" id="nav">
            <div class="nav-wrapper">
                <a href="" data-activates="sidy" class="button-collapse"><i class="material-icons">menu</i></a>
                <div class="container">
                    <a class="brand-logo slight-black-text" href="/home"><img src="image/BidXelSVG.svg" style="height:40px; margin-top: 10px" alt="Logo"></a>

                    <ul id="nav-mobile" class="right hide-on-med-and-down" ng-if="!inMobile">
                        <li><a class="waves-effect nav-item" ng-click="$ctrl.searching()"><i class="material-icons left">search</i></a>
                        </li>
                        <li>
                            <a href="" class="dropdown-button waves-effect nav-item" data-activates="cart" data-constrainwidth="false" data-beloworigin="true" data-alignment='right' data-hover="true">
                                <p class="cart-badge teal-text" ng-show="itemsInCart.length">{{itemsInCart.length}}</p><i class="material-icons left">shopping_cart</i>My Cart </a>
                        </li>

                        <li ng-show="loggedIn">
                            <a class="dropdown-button waves-effect nav-item" data-activates="profile" href="javascript:void(0)" data-hover="true"><img src="image/elliot.jpg" height="30" width="30" style="margin-top: 11px; margin-right: 5px" class="circle responsive-img left"> {{username}}
                                <i class="material-icons right">arrow_drop_down</i>
                            </a>
                        </li>
                        <li ng-hide="loggedIn">
                            <button data-target="login-modal" class="btn waves-effect waves-teal waves-dark white teal-text nav-button z-depth-2">
                                Log In
                            </button>
                        </li>
                    </ul>

                    <ul class="right hide-on-large-only" ng-if="inMobile">
                        <li><a class="waves-effect nav-item small-nav one" ng-click="addToScreen()"><i class="material-icons left">phone_android</i></a>
                        </li>
                        <li><a class="waves-effect nav-item small-nav" ng-click="$ctrl.searching()"><i class="material-icons left">search</i></a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="nav-content" style="padding: 0 20px">

                <ul class="tabs tabs-transparent tabs-fixed-width hide-on-med-and-down" ng-if="!inMobile">
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Ending" ng-click="location('/ending')"><a href="" class=""><i class="material-icons left icons">timer</i>Ending</a></li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Men" ng-click="location('/gentlemen')"><a href="" class=""><i
                            class="material-icons left icons">accessibility</i>Men</a></li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Ladies" ng-click="location('/ladies')"><a href="" class=""><i
                            class="material-icons left icons">pregnant_woman</i>Ladies</a>
                    </li>

                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Kids/Toys" ng-click="location('/kids-toys')"><a href="" class=""><i class="material-icons left icons">child_friendly</i>Kids/Toys</a>
                    </li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Elec/Gadgets" ng-click="location('/elec-gadgets')"><a href="" class=""><i
                            class="material-icons left icons">lightbulb_outline</i>Elec/Gadgets</a></li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Travel/Sports" ng-click="location('/travel-sports')"><a href="" class=""><i class="material-icons left icons">flight_takeoff</i>Travel/Sports</a>
                    </li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Health/Beauty" ng-click="location('/health-beauty')"><a href="" class=""><i class="material-icons left icons">fitness_center</i>Health/Beauty</a>
                    </li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Car/Moto" ng-click="location('/car-moto')"><a href="" class=""><i class="material-icons left icons">directions_car</i>Car/Moto</a>
                    </li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Tools" ng-click="location('/tools')"><a href="" class=""><i
                            class="material-icons left icons">build</i>Tools</a></li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Redeem Shop" ng-click="location('/redeem-shop')"><a href="" class=""><i class="material-icons left icons">loyalty</i>Redeem Shop</a></li>
                </ul>

                <ul class="tabs tabs-transparent tabs-fixed-width hide-on-med-and-up" ng-if="inMobile">
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Ending" ng-click="location('/ending')"><a href="" class=""><i class="material-icons left icons">timer</i>Ending</a></li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Ladies" ng-click="location('/ladies')"><a href="" class=""><i
                            class="material-icons icons">pregnant_woman</i>Ladies</a>
                    </li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Kids/Toys" ng-click="location('/kids-toys')"><a href="" class=""><i class="material-icons icons">child_friendly</i>Kids/Toys</a></li>

                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Tools" ng-click="location('/tools')"><a href="" class=""><i
                            class="material-icons icons">build</i>Tools</a></li>
                    <li class="tab tooltipped" data-delay="50" data-position="bottom" data-tooltip="Ending" ng-click="location('/ending')"><a href="" class=""><i class="material-icons icons">timer</i>Ending</a></li>

                </ul>

            </div>
        </nav>
    </div>
</header>
<main ng-click="search=false" ng-hide="search">
    <delete-from-cart-modal></delete-from-cart-modal>
    <side-nav loggedIn="loggedIn" username="username" ng-if="inMobile"></side-nav>
    <side-cart itemsInCart="itemsInCart" ng-if="inMobile"></side-cart>


    <login-register username="username"></login-register>

    <ng-view></ng-view>

    <guarantees show="showNav" ng-if="!inMobile"></guarantees>
    <button class="btn btn-floating btn-large white lighten-3 back-up show-on-large-only"><i class="material-icons black-text">keyboard_arrow_up</i></button>
    <button class="btn btn-floating btn-large teal lighten-3 hide-on-large-only tooltipped" ng-hide="loggedIn" data-target="login-modal" data-delay="50" data-position="top" data-tooltip="Login" style="position: fixed; right: 15px; bottom: 15px"><i class="material-icons">exit_to_app</i></button>
    <button class="btn btn-floating btn-large teal hide-on-large-only cart-button animated" data-activates="sideCart" ng-hide="!loggedIn || inCart || inDetail" style="position: fixed; right: 15px; bottom: 15px">
            <i class="material-icons">shopping_cart</i>
            <span class="cart-quantity" ng-if="itemsInCart.length">{{itemsInCart.length}}</span>    
        </button>
    <th-footer show="showNav" ng-if="!inMobile"></th-footer>
    <add-to-homescreen ng-if="inMobile"></add-to-homescreen>
</main>
<app-search-area ng-if="search" search="search"></app-search-area>