<main ng-click="search=false" ng-hide="search">
    <delete-from-cart-modal></delete-from-cart-modal>
    <side-nav ng-if="inMobile"></side-nav>
    <side-cart itemsInCart="itemsInCart" ng-if="inMobile"></side-cart>


    <login-register></login-register>

    <ng-view></ng-view>

    <guarantees show="showNav" ng-if="!inMobile"></guarantees>
    <button class="btn btn-floating btn-large white lighten-3 back-up show-on-large-only"><i class="material-icons black-text">keyboard_arrow_up</i></button>
    <button class="btn btn-floating btn-large teal lighten-3 hide-on-large-only tooltipped" ng-hide="loggedIn" data-target="login-modal" data-delay="50" data-position="top" data-tooltip="Login" style="position: fixed; right: 15px; bottom: 15px"><i class="material-icons">exit_to_app</i></button>
    <button class="btn btn-floating btn-large teal hide-on-large-only cart-button animated" data-activates="sideCart" ng-hide="!loggedIn || inCart || inDetail" style="position: fixed; right: 15px; bottom: 15px">
            <i class="material-icons">shopping_cart</i>
            <span class="cart-quantity" ng-if="itemsInCart.length">{{itemsInCart.length}}</span>    
        </button>
    <th-footer show="showNav" ng-if="!inMobile"></th-footer>
    <add-to-homescreen ng-if="inMobile"></add-to-homescreen>
</main>
<app-search-area ng-if="search" search="search"></app-search-area>