<ul class="side-nav" id="sideCart" style="z-index: 1999">
    <li style="line-height: 24px;">
        <p class="cart-header black-text">Cart</p>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li ng-show="itemsInCart.length">
        <ul class="collection">
            <li class="collection-item avatar item with-avatar" ng-repeat="item in itemsInCart" style="padding-left: 55px;">
                <img src="{{item.image}}" alt="auction.name" class="circle" style="left: 10px; height:40px; width:40px">
                <div>
                    <p class="secondary-content right" style="position: unset; margin: 0 5px;"><i class="material-icons red-text lighten-2" ng-click="removeFromCart($index)">delete</i></p>

                    <span class="black-text truncate" style="font-size: 17px; font-weight: 600; letter-spacing: 0">{{item.name}}</span>
                    <p class="item-subtitle black-text" style="font-size: 15px; font-weight: 400; opacity: 0.80">{{item.price | currency: '฿'}}</p>
                </div>
            </li>
        </ul>
    </li>
    <li ng-show="itemsInCart.length">
        <div class="divider"></div>
    </li>
    <li ng-show="itemsInCart.length">
        <p style="font-size: 18px; text-align: center; font-weight: 600">Total: {{getTotal() | currency : '฿'}}</p>
    </li>
    <li ng-show="itemsInCart.length">
        <div class="divider" style="border-color:grey"></div>
    </li>
    <li style="text-align: center" ng-show="itemsInCart.length">
        <a class="btn-flat waves-effect waves-red red-text" style="font-weight: 500" ng-click="checkout()">Checkout</a>
    </li>
    <li ng-hide="itemsInCart.length">
        <p style="font-size: 20px; text-align: center;"><i class="material-icons teal-text" style="font-size: 37px; vertical-align: middle">shopping_basket</i> Your cart is empty </p>
    </li>
</ul>