<ul class="side-nav" id="sidy" style="z-index: 1999">
    <li>
        <div class="userView">
            <div class="background">
                <img src="image/pattern.jpg" alt="profile background">
            </div>
            <a href="/user/{{$ctrl.username}}" ng-show="$ctrl.loggedIn"><img src="image/elliot.jpg" class="circle"></a>
            <a href="/user/{{$ctrl.username}}" ng-show="$ctrl.loggedIn"><span class="white-text name">{{$ctrl.username}}</span> </a>
            <a href="/user/{{$ctrl.username}}" ng-show="$ctrl.loggedIn"><span class="white-text email">{{$ctrl.username}}@thai.com</span> </a>
            <div ng-hide="$ctrl.loggedIn">
                <a><span class="white-text name show-login" style="font-size: 18px">Log in/Sign up</span> </a>
            </div>
        </div>
    </li>
    <li><a class="subheader">Profile</a></li>

    <li><a href="/home"><i class="material-icons">home</i>Home</a></li>
    <li><a href="/checkout"><i class="material-icons">shopping_cart</i>Cart</a></li>
    <li class="no-padding" ng-show="$ctrl.loggedIn">
        <ul class="collapsible collapsible-accordion">
            <li>
                <li><a href="" class="collapsible-header waves-effect waves-teal waves-light" style="padding: 0 32px"><i class="material-icons">person</i>Profile</a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="/user/{{$ctrl.username}}"><i class="material-icons">person</i>Profile</a></li>
                            <li><a href="/checkout"><i class="material-icons">shopping_cart</i>My Cart</a></li>
                            <li><a href=""><i class="material-icons" ng-click="$ctrl.signout()">forward</i>Log out</a></li>
                        </ul>
                    </div>
                </li>
        </ul>
        </li>

        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Categories</a></li>
        <li>
            <ul class="collapsible collapsible-accordion">
                <li>
                    <li><a href="" class="collapsible-header waves-effect waves-teal waves-light" style="padding: 0 32px"><i class="material-icons">content_copy</i>Categories</a>
                        <div class="collapsible-body">
                            <ul>
                                <li ng-click="location('/redeem-shop')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i class="material-icons">loyalty</i>Redeem Shop</a>
                                </li>
                                <li ng-click="location('/ending')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i class="material-icons">timer</i>Ending</a>
                                </li>
                                <li ng-click="location('/men')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i
                class="material-icons">accessibility</i>Men</a>
                                </li>
                                <li ng-click="location('/ladies')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i
                class="material-icons">pregnant_woman</i>Ladies</a></li>
                                <!--<li ng-click="location('/home-garden')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i class="material-icons">home</i>Home/Garden</a>
                                </li>-->
                                <li ng-click="location('/kids-toys')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i
                class="material-icons">child_friendly</i>Kids/Toys</a>
                                </li>
                                <li ng-click="location('/elec-gadgets')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i class="material-icons">lightbulb_outline</i>Elec/Gadgets</a>
                                </li>
                                <li ng-click="location('/travel-sports')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i class="material-icons">flight_takeoff</i>Travel/Sports</a>
                                </li>
                                <li ng-click="location('/health-beauty')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i class="material-icons">fitness_center</i>Health/Beauty</a>
                                </li>
                                <li ng-click="location('/car-moto')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i
                class="material-icons">directions_car</i>Car/Moto</a>
                                </li>
                                <li ng-click="location('/tools')"><a href="" class="waves-effect waves-ripple waves-teal waves-light"><i class="material-icons">build</i>Tools</a>
                                </li>
                            </ul>
                        </div>
                    </li>
            </ul>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a><i class="material-icons">live_help</i>Help Center</a></li>
            <li><a><i class="material-icons">star</i>Feedback</a></li>
            <li>
                <div class="divider"></div>
            </li>
</ul>