<div>
    <form class="col l12 m12 s12 white" style="padding: 10px" ng-submit="deliveryInfoForm.$valid && stepTo(1)" name="deliveryInfoForm" novalidate>
        <div class="row" style="margin-bottom: 0">
            <div class="input-field col l12 m12 s12 field">
                <i class="material-icons prefix grey-text">location_searching</i>
                <input id="postal-code" type="number" class="validate" ng-model="billing.postal" ng-minlength="3" required>
                <label for="province">Postal Code</label>
            </div>
        </div>

        <div class="row" style="margin-bottom: 0">
            <div class="input-field col l6 m6 s12 field">
                <i class="material-icons prefix grey-text">place</i>
                <input id="province" type="text" class="autocomplete validate" ng-model="billing.province" ng-minlength="3" required>
                <label for="province">Province</label>
            </div>
            <div class="input-field col l6 m6 s12 field">
                <i class="material-icons prefix grey-text">place</i>
                <input id="district" type="text" class="autocomplete validate" ng-model="billing.district" ng-focus="getDistrict(billing.province)" ng-minlength="3" required>
                <label for="district">District</label>
            </div>
        </div>

        <div class="row" style="margin-bottom: 0">
            <div class="input-field col s12 field">
                <i class="material-icons prefix grey-text">directions</i>
                <input id="sub-d" type="text" class="autocomplete validate" ng-model="billing.subDistrict" ng-focus="getSubDistrict(billing.district)" ng-minlength="3" required>
                <label for="sub-d">Sub-district</label>
            </div>
        </div>

        <div class="row" style="margin-bottom: 0">
            <div class="input-field col l6 m6 s12 field">
                <i class="material-icons prefix grey-text">my_location</i>
                <input id="address" type="text" class="validate" ng-minlength="3" required>
                <label for="address">Address</label>
            </div>

            <div class="input-field col l6 m6 s12 field">
                <i class="material-icons prefix grey-text">smartphone</i>
                <input id="phone" type="tel" class="validate" ng-minlength="10" ng-maxlength="10" required>
                <label for="phone">Phone</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light blue-grey lighten-3 left" type="button" ng-click="goBack()">To Cart</button>
        <button class="btn waves-effect waves-light blue lighten-2 right review-button" ng-disabled="deliveryInfoForm.$invalid">Next</button>

    </form>
</div>