<div>
    <form class="col l12 m12 s12 white" style="padding: 10px">
        <div class="row">
            <div class="input-field col l12 m12 s12">
                <i class="material-icons prefix grey-text">place</i>
                <input id="province" type="text" class="autocomplete validate" ng-model="billing.province">
                <label for="province">Province</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col l6 m6 s12">
                <i class="material-icons prefix grey-text">place</i>
                <input id="district" type="text" class="autocomplete validate" ng-model="billing.district" ng-focus="getDistrict(billing.province)">
                <label for="district">District</label>
            </div>

            <div class="input-field col l6 m6 s12">
                <i class="material-icons prefix grey-text">place</i>
                <input id="sub-d" type="text" class="autocomplete validate" ng-model="billing.subDistrict" ng-focus="getSubDistrict(billing.district)">
                <label for="sub-d">Sub-district</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix grey-text">directions</i>
                <input id="address" type="text" class="validate">
                <label for="address">Address</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col l6 m6 s12">
                <i class="material-icons prefix grey-text">smartphone</i>
                <input id="phone" type="tel" class="validate" required>
                <label for="phone">Phone</label>
            </div>

        </div>

        <button class="btn waves-effect waves-light blue-grey lighten-3 left nav-button" ng-click="nextStep = false">Back</button>
        <button class="btn waves-effect waves-light blue lighten-2 right nav-button" type="button" ng-click="stepTo(1)">Next</button>

    </form>
</div>