<div class="col s12" style="background: white; padding: 10px">
    <h4 class="description-text blue-grey-text">Select delivery option</h4>

    <div class="row" ng-init="standard = true">
        <div class="col l6 m6 s12">
            <ul class="collection">
                <li class="collection-item avatar" style="padding-left: 50px">
                    <p style="position: absolute; left: 10px">
                        <input type="checkbox" id="express" ng-checked="standard" ng-click="standard = true" />
                        <label for="express"></label>
                    </p>
                    <span class="title">Standard delivery.</span>
                    <p><i>Delivery to all provinces only <span ng-if="shopRedeem && userPoints < (totalPoints + 10) || !shopRedeem">฿39</span><span ng-if="shopRedeem && userPoints > (totalPoints + 10)">10 points</span>.</i> <br>
                        <div style="display: flex">
                            <img src="{{img}}" alt="" ng-repeat="img in imgs" style="height: 20px; width: 22px; margin: 2px">
                        </div>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col l6 m6 s12">
            <ul class="collection">
                <li class="collection-item avatar" style="padding-left: 50px">
                    <p style="position: absolute; left: 10px">
                        <input type="checkbox" id="standard" ng-checked="!standard" ng-click="standard = false" />
                        <label for="standard"></label>
                    </p>
                    <span class="title">Express Delivery- Delivery to your doorstep.</span>
                    <p><i>Delivery to all provinces only <span ng-if="shopRedeem && userPoints < (totalPoints + 14) || !shopRedeem">฿79</span><span ng-if="shopRedeem && userPoints > (totalPoints + 14)">14 points</span>.</i> <br>
                        <div style="display: flex">
                            <img src="{{img}}" alt="" ng-repeat="img in imgs" style="height: 20px; width: 22px; margin: 2px">
                        </div>
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <div class="divider" style="margin: 20px 0"></div>

    <h3 class="description-text blue-grey-text">How would you like to pay?</h3>

    <div class="row" style="margin-bottom: 60px">
        <div class="col s12 hide-on-med-and-up">
            <ul class="collection" id="selectPayment">
                <li class="collection-item" ng-click="selectPayment('cash')">
                    <span class="title">Cash on delivery</span>
                    <p>
                        <div style="display: flex">
                            <img src="{{img}}" alt="" ng-repeat="img in imgs | limitTo:1" style="height: 20px; width: 22px; margin: 2px">
                        </div>
                    </p>
                    <a class="secondary-content">
                        <p>
                            <input type="checkbox" id="cash" name="paymentOption" ng-checked="useCash" ng-disabled="shopRedeem" ng-click="selectPayment('cash', shopRedeem)">
                            <label for="cash"></label>
                        </p>
                    </a>
                </li>
                <div class="divider"></div>
                <li class="collection-item" ng-click="selectPayment('atm')">
                    <span class="title">ATM/Bank Transfer</span>
                    <p>
                        <div style="display: flex">
                            <img src="{{img}}" alt="" ng-repeat="img in imgs | limitTo:2:1" style="height: 20px; width: 22px; margin: 2px">
                        </div>
                    </p>
                    <a class="secondary-content">
                        <p>
                            <input type="checkbox" id="atm" name="paymentOption" ng-checked="useAtm" ng-disabled="shopRedeem" ng-click="selectPayment('atm', shopRedeem)">
                            <label for="atm"></label>
                        </p>
                    </a>
                </li>
                <div class="divider"></div>
                <li class="collection-item" ng-click="selectPayment('card')">
                    <span class="title">Credit/Debit Cards</span>
                    <p>
                        <div style="display: flex">
                            <img src="{{img}}" alt="" ng-repeat="img in imgs | limitTo:2:3" style="height: 20px; width: 22px; margin: 2px">
                        </div>
                    </p>
                    <a class="secondary-content">
                        <p>
                            <input type="checkbox" id="cards" name="paymentOption" ng-checked="useCard" ng-disabled="shopRedeem" ng-click="selectPayment('card', shopRedeem)">
                            <label for="cards"></label>
                        </p>
                    </a>
                </li>
                <div class="divider"></div>
                <li class="collection-item" ng-click="selectPayment('points')">
                    <span class="title">Redeem with points</span>
                    <p>
                        <div style="display: flex">
                            <img src="{{img}}" alt="" ng-repeat="img in imgs | limitTo:1" style="height: 20px; width: 22px; margin: 2px">
                        </div>
                    </p>
                    <a class="secondary-content">
                        <p>
                            <input type="checkbox" id="redeem" name="paymentOption" ng-checked="usePoints || shopRedeem" ng-disabled="!shopRedeem" ng-click="selectPayment('points', shopRedeem)">
                            <label for="redeem"></label>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col s3 center payment-holder hide-on-small-and-down" ng-click="selectPayment('cash')">
            <h6 class="blue-grey-text" style="font-weight: 500">Cash on delivery</h6>

            <div style="text-align: center">
                <img src="{{img}}" alt="" ng-repeat="img in imgs | limitTo: 1" style="height: 20px; width: 22px; margin: 2px">
            </div>

            <p>
                <input type="checkbox" id="Cash" name="group1" ng-checked="useCash" ng-disabled="shopRedeem" ng-click="selectPayment('cash', shopRedeem)" />
                <label for="Cash"></label>
            </p>
        </div>
        <div class="col s3 center payment-holder hide-on-small-and-down" ng-click="selectPayment('atm')">
            <h6 class="blue-grey-text" style="font-weight: 500">ATM/Bank transfer</h6>
            <div style="text-align: center">
                <img src="{{img}}" alt="" ng-repeat="img in imgs | limitTo: 2 : 1" style="height: 20px; width: 22px; margin: 2px">
            </div>
            <p>
                <input type="checkbox" id="atm" name="group1" ng-checked="useAtm" ng-disabled="shopRedeem" ng-click="selectPayment('atm', shopRedeem)" />
                <label for="atm"></label>
            </p>
        </div>
        <div class="col s3 center payment-holder hide-on-small-and-down" ng-click="selectPayment('card')">
            <h6 class="blue-grey-text" style="font-weight: 500">Credit/Debit Cards</h6>
            <div style="text-align: center">
                <img src="{{img}}" alt="" ng-repeat="img in imgs | limitTo: 2 : 3" style="height: 24px; width: 26px; margin: 3px">
            </div>
            <p>
                <input type="checkbox" id="card" name="group1" ng-checked="useCard" ng-disabled="shopRedeem" ng-click="selectPayment('card', shopRedeem)" />
                <label for="card"></label>
            </p>
        </div>
        <div class="col s3 center payment-holder hide-on-small-and-down" ng-click="selectPayment('points')">
            <h6 class="blue-grey-text" style="font-weight: 500">Redeem with points</h6>
            <div style="text-align: center">
                <img src="{{img}}" alt="" ng-repeat="img in imgs | limitTo: 2 : 3" style="height: 24px; width: 26px; margin: 3px">
            </div>
            <p>
                <input type="checkbox" id="points" name="group1" ng-checked="usePoints || shopRedeem" ng-disabled="!shopRedeem" ng-click="selectPayment('points', shopRedeem)" />
                <label for="card"></label>
            </p>
        </div>

        <div class="divider" style="margin: 20px 0"></div>

        <div class="col s12">
            <div ng-hide="discounted">
                <h5 class="blue-grey-text" style="font-weight: 500; font-size: 17px">Use a coupon code to get a discount</h6>
                    <form ng-submit="getDiscount(couponCode)" style="padding: 15px">
                        <div class="row">
                            <div class="col s12">
                                <input type="text" ng-model="couponCode" placeholder="Enter your coupon code" validate>
                            </div>
                            <div style="text-align: center;">
                                <button class="btn waves-effect blue-grey" type="submit">Confirm</button>
                            </div>
                        </div>
                    </form>
            </div>
            <div class="discount-alert" ng-show="discounted">
                <i class="material-icons green-text">check</i>
                <h5 class="blue-grey-text" style="font-weight: 500">Congrats! you have received a 10% discount</h6>
            </div>
        </div>
    </div>
    <md-button class="left main-green-text white-text" ng-click="previousStep()" type="button">Back</md-button>
    <md-button class="md-raised main-green right white-text" ng-click="completeStep($ctrl.stepData[1].data)" type="button">Next</md-button>
</div>