<div class="col s12" style="background: white; padding: 15px 10px;">
    <h3 class="description-text grey-text">Your order status</h3>
    <div class="divider"></div>

    <h4 style="font-size: 18px; font-weight: 500;">Your order has been sent. Delivery normally takes 7 - 10 business days.</h4>
    <p style="color: grey;">
        Send an email to our support team at <a href="">support.thaibid.com</a> if your order doesn't arrive
    </p>

    <p style="text-transform: uppercase; font-weight: 500;"><i>Thank you for choosing thai bid</i></p>

    <md-button class="md-raised blue-grey lighten-3 left" ng-click="previousPage()" type="button">Back</md-button>
    <md-button class="md-raised green lighten-2 right" ng-click="finish()">Finish</md-button>
</div>