<div class="col s12" style="background: white; padding: 15px 10px;">
    <h3 class="description-text grey-text">Your order status</h3>
    <div class="divider"></div>

    <h4 style="font-size: 18px; font-weight: 500;">Your order has been sent. Delivery normally takes 7 - 10 business days.</h4>
    <p style="color: grey;">
        Send an email to our support team at <a href="bid.com">support.thaibid.com</a> if your order doesn't arrive
    </p>

    <p style="text-transform: uppercase; font-weight: 500;"><i>Thank you for choosing thai bid</i></p>

    <button class="btn waves-effect waves-light blue-grey lighten-3 left review-button" ng-click="stepTo(1)">Back</button>
    <button class="btn waves-effect waves-light green lighten-2 right review-button" ng-click="finish()">Finish</button>
</div>