<div id="login-modal" class="modal" style="max-height: 80%">

    <div class="modal-content grey lighten-4" style="padding: 18px 10px">

        <div class="card-menu">
            <i class="material-icons grey-text modal-close" style="font-size: 33px">close</i>
        </div>

        <div class="row" ng-hide="register || forgotPassword" style="margin-bottom: 0; padding-top: 15px">
            <div class="col s12">
                <h4 class="register-text description-text center">Log In</h4>

                <button class="btn btn-large facebook-color z-depth-0" id="fb" style="width: 100%;"><ng-md-icon icon="facebook" class="social icon"></ng-md-icon>Continue with Facebook</button>

                <p class="center social-assure">We won't post without your permission</p>

                <div class="divider" style="margin: 10px 0 8px 0; opacity: 0.5"></div>

                <p class="center or">OR</p>

                <div class="row">
                    <form class="col l12 m12 s12" id="login-holder" ng-submit="$ctrl.signIn()">

                        <div class="row" style="margin-bottom: 0">
                            <div class="input-field col s12">
                                <input id="username" type="text" class="validate" ng-model="$ctrl.username" placeholder="Username">
                                <label for="username" data-error="Please enter a valid username" data-success="Correct"></label>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 0">
                            <div class="input-field col s12">
                                <input id="password" type="password" placeholder="Password">
                                <label for="password"></label>
                            </div>
                        </div>

                        <div ng-click="forgotPassword = !forgotPassword">
                            <h6 class="right forgot-pass">Forgot your password?</h6>
                        </div>

                        <button class="btn btn-large wave-effect waves-light waves-ripple waves-red white-text center z-depth-0 mcs-color" style="width: 100%; margin-bottom: 5px;">Submit
                            </button>
                        <p class="center other-option grey-text">Need an account? <span class="new-log" ng-click="register = !register">Create new account</span></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="row" ng-show="register" style="margin-bottom: 0; padding-top: 15px">
            <div class="col s12">
                <h4 class="register-text description-text center">Create your free account!</h4>

                <button class="btn btn-large facebook-color z-depth-0" style="width: 100%;"><ng-md-icon icon="facebook" class="social icon"></ng-md-icon>Sign Up with Facebook</button>

                <p class="center social-assure">We won't post without your permission</p>

                <div class="divider" style="margin: 10px 0 8px 0; opacity: 0.5"></div>

                <p class="center or" style="margin: 0">OR</p>

                <div class="row">
                    <form class="col l12 m12 s12" id="register-holder" ng-submit="$ctrl.signUp()">

                        <div class="row" style="margin-bottom: 0">
                            <div class="input-field col s12">
                                <input id="user" type="text" class="validate" ng-model="$ctrl.username" placeholder="Username">
                                <label for="user" data-error="Please enter a valid username" data-success="Correct"></label>
                            </div>
                        </div>

                        <div class="row" style="margin-bottom: 10px">
                            <div class="input-field col s12">
                                <input id="pass" type="password" placeholder="Password">
                                <label for="pass"></label>
                            </div>
                        </div>

                        <button class="btn btn-large wave-effect waves-light waves-ripple white-text center z-depth-0 mcs-color" style="width: 100%; margin-bottom: 5px;">Create Account
                            </button>
                        <p class="center other-option grey-text">Already have an account? <span class="new-log" ng-click="register = !register">Sign In</span></p>
                    </form>
                </div>
            </div>
        </div>

        <div class="row" ng-show="forgotPassword" style="padding-top: 15px; margin-bottom: 0">
            <div class="card-menu left" style="left:12px;">
                <i class="material-icons grey-text" style="font-size: 32px" ng-click="forgotPassword = false; register= false;">arrow_back</i>
            </div>
            <p class="center register-text description-text" style="margin: 20px 0 10px 0">Reset your password</<p>
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="col s12 input-field">
                                <input type="text" name="forgot" id="forgot" placeholder="Enter your email.">
                            </div>
                            <div class="col s12 input-field">
                                <button class="btn btn-large waves-effect waves-light mcs-color z-depth-0" style="width: 100%; font-size:17px; font-weight: 400">
                                            Send Mail                    
                                    </button>
                            </div>
                        </div>
                    </form>
                </div>
        </div>
    </div>
</div>