<div class="separator hide-on-med-only"></div>
<div style="margin-top: 2px; padding: 0 10px; min-height: 600px">
    <div ng-if="loading">
        <thai-spinner position="$ctrl.spinnerPosition" ng-if="loading"></thai-spinner>
    </div>

    <div class="row" id="detail-container" ng-show="!loading">

        <div class="col l5 m12 s12" style="padding: 0 0">

            <div class="prod-detail">
                <div class="row" style="margin-bottom: 5px">
                    <h1 class="product-name truncate capitalize">{{product.product_title}}</h1>
                    <div class="col l12 m12 s12">
                        <a href="/home" class="breadcrumb black-text waves-effect" style="opacity: 0.45"><i
                                class="material-icons">home</i></a>
                        <!--<a href="" class="breadcrumb black-text text-lighten-3">{{product.category}}</a>-->
                        <a href="" class="breadcrumb black-text capitalize" style="opacity: 0.6">{{product.product_title}}</a>
                    </div>

                </div>

                <div class="row" id="gallery" style="margin-bottom: 0">
                    <div class="col s12" style="padding: 0 0; min-height: 350px; background: lightgray">
                        <img src="{{productImage.image_medium}}" class="materialboxed responsive-img hoverable z-depth-1" data-caption="{{product.product_title}}" style="border-radius: 1px; width: 100%">
                    </div>
                </div>

                <div class="row" style="margin-top: 8px">
                    <div class="col l3 m3 s3" ng-repeat="img in imgs" style="padding-left: 0;">
                        <img src="{{img.image_small}}" class="responsive-img waves-effect waves-teal hoverable z-depth-1" ng-click="chgSrc(img, $index)" ng-class="{'img-active': active === $index}">
                    </div>
                </div>
            </div>

        </div>

        <div class="col l7 m12 s12 white z-depth-1" id="dets" style="padding: 15px 15px">
            <div class="fixed-action-btn horizontal click-to-toggle right">
                <a class="btn-floating grey">
                    <i class="material-icons">share</i>
                </a>
                <ul>
                    <li><a class="btn-floating grey-blue darken-2"><i class="material-icons">mail</i></a></li>
                    <li>
                        <a class="btn-floating facebook-color">
                            <ng-md-icon icon="facebook" class="icon" id="facebook"></ng-md-icon>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating twitter-color">
                            <ng-md-icon icon="twitter" class="icon" id="twitter"></ng-md-icon>
                        </a>
                    </li>
                </ul>
            </div>

            <h4 class="prod-name capitalize">{{product.product_title}}<span class="gavel-holder"><i
                    class="material-icons" ng-if="product.redeemable !== 1"
                    style="margin-right: 5px">gavel</i>{{auction.length}} Bids </span>
            </h4>

            <div class="row" style="margin-bottom: 5px">
                <div class="col l6 m6 s6">
                    <!---- Product Owner ------>
                    <p class="prod-owner">by <span style="text-decoration: underline;"><i>Uri Mackov</i></span></p>
                    <!---- /Product Owner ------>
                    <!---- Ratings -------->

                    <p class="ratings"><i class="material-icons teal-text" ng-repeat="icon in [1,2,3,4,5]">star</i> {{product.price | limitTo: 2}}{{product.price | limitTo: 2 : 3}} Users</p>
                    <!------ /Ratings ------>
                </div>
                <div class="col l6 m6 s6 pull-s2" id="timer-holder" ng-if="product.redeemable !== 1">
                    <!-- Time remaining -->
                    <span class="right timer-text">Time remaining</span>
                    <countdown-timer time="timeLeft" newbid="newBid" product="product" clear="showDiv"></countdown-timer>
                    <!-- End Time -->
                </div>
            </div>

            <div class="row" style="margin-bottom: 0" ng-if="product.redeemable !== 1">
                <div class="col l12 s12 m12">
                    <div class="grey darken-3 white-text alert-area timeout" ng-show="showDiv">
                        Auction has ended! NOTE: If you're the winner make sure to checkout and pay within 24 hours. If you don't your account will be closed! It can take up to 5 min before your order appears in the basket.
                    </div>

                    <div class="red lighten-1 white-text alert-area newbid" ng-show="newBid">
                        New bid on product. New product price {{product.price | currency: '฿'}}
                    </div>

                    <div class="blue-grey lighten-1 white-text alert-area autobid" ng-show="autoBid">
                        You are the top bidder till somebody beats you with {{bidPrice}}. Now the auto system will play for you till 200.
                    </div>
                </div>
            </div>


            <div class="divider"></div>

            <div class="row" style="margin-bottom: 0">
                <p class="details-header grey-text">Bidding Info</p>
                <div class="col l6 m6 s6 bid-info">

                    <div class="col s12">
                        <p class="details-header green-text">Pricing</p>
                    </div>

                    <div class="col s12" style="padding: 0 0; display: flex" ng-if="product.redeemable !== 1">
                        <!---- Prices (Actual/Leading) ------>
                        <p class="actual-holder"><span class="price-text">Highest Bid</span><br>
                            <span class="price">{{maxBid | currency : '฿'}}</span>
                        </p>
                        <p class="leading-holder"><span class="price-text">Next possible bid</span><br>
                            <span class="price">{{nextBid | currency : '฿'}}</span>
                        </p>
                        <!--- /Prices -->
                    </div>

                    <div class="col s12" style="padding: 0 0; display: flex" ng-if="product.redeemable === 1">
                        <!---- Prices (Actual/Leading) ------>
                        <p class="actual-holder"><span class="price-text">Price</span><br>
                            <span class="price pnts">{{product.redeem_point}} <span> points</span> </span>
                        </p>
                        <p class="leading-holder"><span class="price-text">Available Points</span><br>
                            <span class="price pnts">40 points</span>
                        </p>
                        <!--- /Prices -->
                    </div>
                </div>

                <div class="col l6 m6 s6">
                    <p class="description-text blue-text">Bids <span><a href="" ng-click="bidHistory()" style="font-size: 11px; font-weight: 400; margin-left: 15px">Bid history</a></span></p>
                    <p class="bid-winner">
                        <i class="material-icons blue-text left">stars</i> Current Winner <br>
                        <div>
                            John Smith {{product.price + 10 | currency : '฿'}}
                        </div>
                    </p>
                </div>

            </div>

            <div class="row">
                <p class="details-header grey-text">Product Details</p>

                <div class="col s12" style="padding: 0 2px;">
                    <div class="row" style="margin-bottom: 0; padding: 0">


                        <form class="col s12" style="padding: 0">
                            <div class="col s12 hide-on-med-and-up" style="padding: 0">
                                <div class="input-field col s6">
                                    <select ng-model="bidInfo.productColor">
                                        <option value="" disabled selected>Color</option>
                                        <option ng-repeat="color in colors" value="{{color.color_name}}">{{color.color_name}}</option>
                                    </select>
                                    <label>Color</label>
                                </div>
                                <div class="input-field col s6">
                                    <select ng-model="bidInfo.productSize">
                                        <option value="" disabled selected>Size</option>
                                        <option ng-repeat="size in sizes" value="{{size.size_name}}">{{size.size_name}}</option>
                                    </select>
                                    <label>Size</label>
                                </div>
                            </div>

                            <div class="col l6 m6 s12 prod-info hide-on-small-and-down">
                                <span class="details-header blue-text">Color</span><br>
                                <div class="colors">
                                    <div ng-repeat="color in colors" class="{{color.color_name | lowercase}} z-depth-1" ng-click="bidInfo.productColor = color.color_name" ng-class="{'selected': productColor === color.color_name}"></div>
                                </div>

                                <div class="row" style="margin-top: 15px">
                                    <div class="col s12" style="padding: 0 0" ng-init="selected = 1">
                                        <span class="description-text teal-text">Size</span><br>
                                        <div class="sizes">
                                            <div ng-repeat="size in sizes" ng-click="bidInfo.productSize = size.size_name" ng-class="{'selected': productSize === size.size_name}"> {{size.size_name}} </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col l6 m6 s12" style="padding: 0 0 0 10px;">
                                <p class="details-header grey-text" ng-if="product.redeemable !== 1">Place Bid</p>
                                <p class="details-header grey-text" ng-if="product.redeemable === 1">Redeem Item</p>
                                <!--<p ng-if="product.price > 40 && !$ctrl.observed" class="use-points-alert">This product is worth {{product.price - 5}} points and you have {{product.price}} points, so you can add this item to cart without bidding <span class="accept" ng-click="$ctrl.observed = true">Okay</span></p>-->

                                <div class="row" style="margin-bottom: 0">
                                    <div class="input-field col l6 m5 s4" ng-if="product.redeemable !== 1">
                                        <input type="number" id="amount" ng-model="nextBid" style="font-size: 30px; margin: 0; max-width: 100px" class="teal-text active" ng-class="focus()">
                                        <label class="active" for="amount">Bid Amount</label>
                                    </div>

                                    <div class="input-field col l2 m2 s2">
                                        <md-button class="md-raised main-green white-text" ng-if="product.redeemable !== 1" ng-click="bid()" type="submit">Bid</md-button>
                                        <md-button class="md-raised md-primary" ng-if="product.redeemable === 1" ng-click="" type="button">Redeem Now</md-button>
                                        <md-button class="md-raised md-primary" ng-if="product.redeemable === 1" ng-click="addToCart(product)" type="button">Add to Cart</md-button>
                                        <!--<a href="/checkout" class="btn waves-effect blue-grey" style="margin: 10px 5px" type="button">Go to cart</a>-->
                                        <div class="buttons-holder z-depth-3">
                                            <button class="btn orange bid-button orange hide-on-med-and-up" ng-show="loggedIn && product.redeemable === 1" type="button">Redeem Now</button>
                                            <button class="btn orange bid-button orange hide-on-med-and-up" ng-show="loggedIn && product.redeemable !== 1" ng-click="placeBid(product)" type="button">Bid now</button>
                                            <button class="btn white alternative-cart-button hide-on-med-and-up black-text" type="button" ng-hide="!loggedIn || hideCart" ng-click="showCart()">
                                            Go to cart
                                            <span>({{cart.length}})</span>
                                        </button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>

            <div class="row" id="prod-info" style="margin-bottom: 0">
                <detail-tabs bids="bids" product="product" ratings="ratings"></detail-tabs>
            </div>
        </div>
    </div>
</div>

<div class="row" style="position: relative;" ng-hide="loading">

    <button class="btn-floating btn-large white left hide-on-med-and-down" ng-class="{'waves-effect': page === 2}" ng-disabled="page === 1" ng-click="slideOut()" style="position: absolute; top: 45%; left: 2px;"><i
            class="material-icons black-text">chevron_left</i></button>
    <button class="btn-floating btn-large white right hide-on-med-and-down" ng-class="{'waves-effect': page === 1}" ng-disabled="page === 2" ng-click="slideRight()" style="position: absolute; top: 45%; right: 2px;"><i
            class="material-icons black-text">chevron_right</i></button>
    <div id="others">

        <p style="margin-left: 20px" class="description-text black-text des-text">You may also be interested in these products</p>

        <div style="display: flex">
            <div class="row" style="height: 350px; margin-bottom: 50px">
                <product-list products="related" columns="3" ng-if="page === 1" id="similar1"></product-list>
                <product-list products="otherProducts" columns="3" ng-if="page === 2" id="similar2"></product-list>
            </div>
        </div>
    </div>
</div>