<div class="separator hide-on-med-and-down"></div>
<div style="margin-top: 15px; padding: 0 10px">

    <div class="row" id="detail-container">
        <div class="col l5 m12 s12" style="padding: 0 0">

            <div class="row">
                <h1 class="product-name">{{product.name}}</h1>
                <div class="col l12 m12 s12">
                    <a href="#!/home" class="breadcrumb black-text waves-effect" style="opacity: 0.45"><i
                            class="material-icons">home</i></a>
                    <!--<a href="" class="breadcrumb black-text text-lighten-3">{{product.category}}</a>-->
                    <a href="" class="breadcrumb black-text" style="opacity: 0.6">{{product.name}}</a>
                </div>

            </div>

            <div class="row" id="gallery">
                <div class="col s12" style="padding: 0 0;">
                    <img src="{{product.image}}" class="materialboxed responsive-img hoverable z-depth-1"
                         data-caption="{{product.name}}" style="border-radius: 1px; width: 100%">
                </div>
            </div>

            <div class="row" style="margin-top: 8px">
                <div class="col l3 m3 s3" ng-repeat="img in imgs" style="padding-left: 0;">
                    <img src="{{img}}" class="responsive-img waves-effect waves-teal hoverable z-depth-1"
                         ng-click="chgSrc(img, $index)"
                         ng-class="{'img-active': active === $index}">
                </div>
            </div>


        </div>

        <div class="col l7 m12 s12 white" style="padding: 15px 15px">
            <div class="fixed-action-btn horizontal click-to-toggle right" style="
position: relative; right: 8px; padding: 15px 0 0 0; z-index: 100">
                <a class="btn-floating grey">
                    <i class="material-icons">share</i>
                </a>
                <ul>
                    <li><a class="btn-floating grey-blue darken-2"><i class="material-icons">mail</i></a></li>
                    <li><a class="btn-floating" style="background-color: #3B5998;">
                        <ng-md-icon icon="facebook" class="icon" id="facebook"></ng-md-icon>
                    </a></li>
                    <li><a class="btn-floating" style="background-color: #55ACEE;">
                        <ng-md-icon icon="twitter" class="icon" id="twitter"></ng-md-icon>
                    </a></li>
                </ul>
            </div>

            <h4 class="prod-name">{{product.name}}<span class="gavel-holder"><i
                    class="material-icons"
                    style="margin-right: 5px">gavel</i>{{product.price | limitTo: 2}} Bids </span></h4>


            <div class="row">
                <div class="l6 m6 s12">
                    <!---- Product Owner ------>
                    <p class="link-text">by <span
                            style="text-decoration: underline;"><i>Uri Mackov</i></span></p>
                    <!---- /Product Owner ------>
                    <!---- Ratings -------->

                    <p class="link-text" style="font-size: 15px"><i class="material-icons teal-text left"
                                                                    style="font-size: 19px"
                                                                    ng-repeat="icon in [1,2,3,4,5]">star</i>
                        {{product.price |
                        limitTo: 2}}{{product.price | limitTo: 2 : 3}} Users</p>
                    <!------ /Ratings ------>
                </div>
                <div class="l6 m6 s12">
                    <!--- Time remaining ----->
                    <span class="right timer-text">Time remaining</span>
                    <timer countdown="timeLeft" interval="1000" finish-callback="restartTimer()" class="timer right">
                        {{millis| date:'mm:ss'}}
                        <i class="material-icons left" style="font-size:46px" id="time-icon">timer</i>
                    </timer>
                    <!--- End Time ------->
                </div>
            </div>


            <div class="divider"></div>

            <div class="row">
                <p class="description-text grey-text">Bidding Info</p>
                <div style="border-right: solid 1px #BAB9BC;" class="col l6 m6 s12">

                    <div class="col s12">
                        <p class="description-text green-text">Pricing</p>
                    </div>

                    <div class="col s12" style="padding: 0 0; display: flex">

                        <!---- Prices (Actual/Leading) ------>
                        <p class="actual-holder"><span class="price-text">Actual price</span><br>
                            <span class="price">{{product.price | currency : '฿'}}</span>
                        </p>
                        <p class="leading-holder"><span class="price-text">Leading Price</span><br>
                            <span class="price">{{product.price + 10| currency : '฿'}}</span>
                        </p>
                        <!----------- /Prices ------------->


                    </div>
                </div>

                <div class="col l6 m6 s12">
                    <p class="description-text blue-text">Bids</p>
                    <p style="font-size: 19px; opacity: 0.75"><i class="material-icons blue-text left"
                                                                 style="font-size: 30px">stars</i> Current Winner - John
                        Smith {{product.price + 10 | currency : '฿'}}</p>
                </div>

            </div>

            <div class="row">
                <p class="description-text grey-text">Product Details</p>

                <div class="col s12">
                    <div class="row">
                        <form>
                            <div class="col l6 m6 s12" style="border-right: solid 1px #BAB9BC;">
                                <span class="description-text blue-text">Color</span><br>
                                <p class="input-field inline">
                                    <input name="group1" type="radio" id="red" ng-click="clicked = 1"/>
                                    <label for="red" ng-class="{'red-text': clicked === 1}">Red</label>
                                </p>
                                <p class="input-field inline">
                                    <input name="group1" type="radio" id="yellow" ng-click="clicked = 2"/>
                                    <label for="yellow" ng-class="{'yellow-text': clicked === 2}">Yellow</label>
                                </p>
                                <p class="input-field inline">
                                    <input name="group1" type="radio" id="green" ng-click="clicked = 3"/>
                                    <label for="green" ng-class="{'green-text': clicked === 3}">Green</label>
                                </p>
                                <p class="input-field inline">
                                    <input name="group1" type="radio" id="blue" ng-click="clicked = 4"/>
                                    <label for="blue" ng-class="{'blue-text': clicked === 4}">Blue</label>
                                </p>

                                <div class="row">
                                    <div class="col s12" style="padding: 0 0">
                                        <span class="description-text teal-text">Size</span><br>
                                        <p class="input-field inline">
                                            <input name="group1" type="radio" id="s"/>
                                            <label for="s">S</label>
                                        </p>
                                        <p class="input-field inline">
                                            <input name="group1" type="radio" id="m"/>
                                            <label for="m">M</label>
                                        </p>
                                        <p class="input-field inline">
                                            <input type="radio" id="l"/>
                                            <label for="l">L</label>
                                        </p>
                                        <p class="input-field inline">
                                            <input type="radio" id="xl"/>
                                            <label for="xl">XXL</label>
                                        </p>
                                    </div>

                                </div>

                            </div>
                        </form>


                        <div class="col l6 m6 s12">
                            <p class="description-text grey-text">Place Bid</p>

                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col l8 m8 s12 push-l1 push-m1">
                                        <input type="number" id="amount"
                                               style="font-size: 30px;">
                                        <label class="active" for="amount">Bid Amount</label>
                                    </div>
                                    <div class="input-field col l2 m2 s12 push-l1 push-m1">
                                        <button class="btn btn-floating waves-effect teal btn-large tooltipped"
                                                data-position="top"
                                                data-delay="50" data-tooltip="Place bid"><i class="material-icons left">gavel</i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="divider"></div>
            </div>

            <div class="row">
                <div class="col s12" style="padding: 0 0">
                    <ul class="tabs tabs-fixed-width teal tabs-transparent z-depth-1">
                        <li class="tab"><a href="#detail" class="tab-link">Detail</a></li>
                        <li class="tab"><a href="#description" class="tab-link">Description</a></li>
                        <li class="tab"><a href="#bids" class="tab-link">Bids</a></li>
                    </ul>

                    <div id="detail" class="col s12" style="min-height: 222px; padding: 10px">
                        <div class="row">
                            <div class="col l6 s6 s12">
                                <p class="detail-header">Product Details</p>
                                <p class="detail-text">Auction no: 4139494</p>
                                <p class="detail-text">Item no: 41-394</p>
                            </div>
                            <div class="col l6 m6 s12">
                                <p class="detail-header">Product Facts</p>
                                <p class="detail-text">Women Slimming Belt</p>
                                <p class="detail-text">- Body sculpting, tummy shaper</p>
                                <p class="detail-text">- Can be worn under your clothes daily</p>
                                <p class="detail-text">- Material : Polyester 80% and Cotton 20%</p>
                            </div>
                        </div>
                    </div>
                    <div id="description" class="col s12 white" style="min-height: 222px">
                        <p class="detail-header">Product Description</p>
                        <p class="detail-text">
                            Specially designed for women, this slimming belt compliments your figure and enhances body
                            curves. It gives you confidence in every movement. A can't miss item!
                        </p>
                    </div>
                    <div id="bids" class="col s12 white" style="min-height: 222px">


                        <table class="highlight responsive-table">
                            <thead>
                            <tr>
                                <th class="table-header"><i class="material-icons"
                                                            style="vertical-align:bottom; margin-right:3px;">person</i>Name
                                </th>
                                <th class="table-header"><i class="material-icons"
                                                            style="vertical-align:bottom; margin-right:3px;">attach_money</i>Bid
                                    Amount
                                </th>
                                <th class="table-header"><i class="material-icons"
                                                            style="vertical-align:bottom; margin-right:3px;">gavel</i>Total
                                    Bid
                                </th>
                                <th class="table-header"><i class="material-icons"
                                                            style="vertical-align:bottom; margin-right:3px;">timer</i><span
                                        style="margin-bottom:6px">Bid
                                    Time</span>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td class="table-text">Alvin</td>
                                <td class="table-text">฿10.00</td>
                                <td class="table-text">1</td>
                                <td class="table-text">2017-03-27</td>
                            </tr>
                            <tr>
                                <td class="table-text">Alan</td>
                                <td class="table-text">฿0.45</td>
                                <td class="table-text">2</td>
                                <td class="table-text">2017-03-27</td>
                            </tr>
                            <tr>
                                <td class="table-text">Jonathan</td>
                                <td class="table-text">฿1.34</td>
                                <td class="table-text">1</td>
                                <td class="table-text">2017-03-27</td>
                            </tr>
                            <tr>
                                <td class="table-text">Afro</td>
                                <td class="table-text">฿2.34</td>
                                <td class="table-text">2</td>
                                <td class="table-text">2017-03-25</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divider"></div>
<div class="row" id="others">
    <button class="btn-floating waves-effect white left" style="position: absolute; top: 30%; left: 2px;"><i
            class="material-icons black-text">chevron_left</i></button>
    <button class="btn-floating waves-effect white right" style="position: absolute; top: 30%; right: 2px;"><i
            class="material-icons black-text">chevron_right</i></button>

    <p style="margin-left: 20px" class="description-text teal-text">You may also be interested in these products</p>

    <product-list products="similarProducts" columns="2" height="127"></product-list>
</div>
<div class="divider"></div>