<div class="col l{{$ctrl.columns}} m4 s6 product-col" ng-repeat="product in $ctrl.products | limitTo: $ctrl.limit" ng-click="searching()">

    <div class="card product-shadow hoverable">
        <a href="/product/{{product.id}}" name="{{product.name}}">
            <div class="card-image prod-card-img">
                <img placehold="{{product.image}}" alt="{{product.image}}" src="image/header-bg.png" class="responsive-img" style="height: 70%" ng-if="product.image">
                <a class="btn-floating halfway-fab waves-effect waves-dark teal lighten-4" name="{{product.name}}"><i
                        class="material-icons">gavel</i></a>
            </div>
        </a>
        <div class="card-content">
            <p class="card-title black-text truncate" style="font-size: 13px; font-weight: 700"> {{product.name}}</p>
            <span class="subheader grey-text text-darken-2 card-time-text">{{product.price | currency : '฿'}}
            <timer class="right prod-timer" countdown="$ctrl.time" interval="1000" finish-callback="$ctrl.restartTimer()">
                <i class="material-icons left red-text hide timer-icon hide-on-small-and-down" style="vertical-align: middle">timer</i>
                {{millis | date:'mm:ss'}}
                </timer>
            </span>
        </div>
    </div>
</div>