<div id="purchase-modal" class="modal" style="overflow: auto; min-height: 50%; top: 20%; max-height: 80%;">
    <div class="modal-content" style="padding: 12px">
        <i class="material-icons modal-close" style="position: absolute; top: 2px; left: 1px; font-size: 40px;">close</i>
        <div class="row" style="margin-bottom: 2px">
            <div class="col l6 m6 s6" style="margin-top: 30px">
                <h4 class="description-text register-text truncate">{{$ctrl.info.name}}</h4>
                <p class="link-text">by <span style="text-decoration: underline;"><i>Uri Mackov</i></span></p>

                <p class="link-text" style="font-size: 13px"><i class="material-icons teal-text left" style="font-size: 13px" ng-repeat="icon in [1,2,3,4,5]">star</i><br> {{$ctrl.info.price | limitTo: 2}}{{$ctrl.info.price | limitTo: 2 : 3}} Users</p>

                <p class="register-text link-text grey-text" style="font-size: 15px; margin-top: -10px">{{$ctrl.info.price | currency: '฿'}}</p>
            </div>

            <div class="col l6 m6 s6" style="padding: 0 4px">
                <img class="responsive-img modal-img center animated scaleIn" src="{{$ctrl.info.image}}">
                <p><a href="" ng-click="goToPage($ctrl.info.id)">Check next auction</a> </p>
            </div>
        </div>

        <div class="divider"></div>


        <div class="row" style="margin-bottom: 5px;">
            <div class="col l6 m6 s6">
                <p class="description-text grey-text modal-headers">Bidding Info</p>
                <div style="display: inline-flex">
                    <h5 class="modal-price">
                        {{$ctrl.info.price | currency : '฿'}}<br>
                        <p class="grey-text price-des">Product Price</p>
                    </h5>

                    <h5 class="modal-price" x>
                        {{$ctrl.info.price + 15 | currency : '฿'}}<br>
                        <p class="grey-text price-des">Winning Bid</p>
                    </h5>
                </div>
            </div>

            <div class="col l6 m6 s6">
                <p class="description-text grey-text modal-headers">Product Details</p>
                <p class="link-text">Color: <span class="red-text">Red</span></p>
                <p class="link-text">Size: <span class="grey-text">XL</span></p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="col s12" style="min-height: 222px; padding: 10px">
            <div class="row" style="margin-bottom: 0">
                <div class="col l6 m6 s6">
                    <p class="description-text grey-text modal-headers">Product Details</p>
                    <p class="link-text reduce-text">Auction no: 4139494</p>
                    <p class="link-text reduce-text">Item no: 41-394</p>
                </div>
                <div class="col l6 m6 s6">
                    <p class="description-text grey-text modal-headers">Product Facts</p>
                    <p class="link-text reduce-text">Women Slimming Belt</p>
                    <p class="link-text reduce-text">- Body sculpting, tummy shaper</p>
                    <p class="link-text reduce-text">- Can be worn under your clothes daily</p>
                    <p class="link-text reduce-text">- Material : Polyester 80% and Cotton 20%</p>
                </div>
            </div>

            <div class="divider"></div>

            <div class="row">
                <div class="col s12">
                    <p class="description-text grey-text modal-headers">Product Description</p>
                    <p class="link-text reduce-text">
                        Specially designed for women, this slimming belt compliments your figure and enhances body curves. It gives you confidence in every movement. A can't miss item!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>