<!--<div style="position: absolute; top: 50%; left: 50%"><h1>Orders</h1></div>-->
<div class="card">
    <div class="card-content" style="min-height: 520px">
        <div class="">
            <span class="card-title left grey-silver-text" style="font-size: 16px; font-weight: 500; letter-spacing: .04em; text-transform: uppercase"><i
                    class="material-icons grey-silver-text left" style="font-size: 30px">shopping_cart</i>Cart</span>
            <p class="right">
                <input type="checkbox" class="filled-in center" id="clear-orders" />
                <label for="clear-orders">Clear all</label>
            </p>
        </div>

        <div class="divider"></div>

        <div>
            <!--<i class="material-icons medium grey-silver-text">shopping_cart</i>
            <p style="font-size: 15px; margin: 15px 0;">Your cart is empty!</p>
            <div>
                <a href="#!/home" class="teal btn waves-effect waves-light">Go shopping</a>
            </div>-->
            <ul class="collection">
                <li class="collection-item avatar item with-avatar" ng-repeat="item in auctions" style="padding-left: 55px;">
                    <img src="{{item.image}}" alt="{{item.name}}" class="circle" style="left: 10px; height:40px; width:40px">
                    <div>
                        <p class="secondary-content right" style="position: unset; margin: 0 5px;"><i class="material-icons red-text lighten-2" ng-click="removeFromCart($index)">delete</i></p>

                        <span class="black-text truncate" style="font-size: 15px; font-weight: 500; letter-spacing: 0; opacity: 0.9">{{item.name}}</span>
                        <p class="item-subtitle black-text" style="font-size: 13px; font-weight: 400; opacity: 0.80">{{item.price | currency: '฿'}}</p>
                    </div>
                </li>
            </ul>
            <div style="text-align: center; margin-top: 20px">
                <button class="btn waves-effect waves-light teal" ng-click="checkout()">checkout</button>
            </div>
        </div>
    </div>
</div>