<div class="card">
    <div class="card-content" style="min-height: 520px; padding: 24px 10px;">
        <div class="">
            <span class="card-title left green-steel-text" style="font-size: 16px; font-weight: 500; letter-spacing: .04em; text-transform: uppercase"><i
                    class="material-icons green-steel-text left" style="font-size: 30px">assignment</i>Orders</span>
            <p class="right">
                <input type="checkbox" class="filled-in center" id="clear-orders" />
                <label for="clear-orders">Clear all</label>
            </p>
        </div>

        <div class="divider"></div>

        <div>
            <!--<i class="material-icons medium green-steel-text">assignment</i>
            <p style="font-size: 14px">No orders</p>-->
            <table class="striped bordered order-table responsive-table">
                <thead>
                    <tr>
                        <th class="table-header truncate">Product Name</th>
                        <th class="table-header">Quantity</th>
                        <th class="table-header">Bid Amount</th>
                        <th class="table-header">Price</th>
                        <th class="table-header">Sub Total</th>
                        <th class="table-header">Invoice</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="order in orders">
                        <td class="table-text reduce-text">{{order.name}}</td>
                        <td class="table-text reduce-text">{{order.quantity}}</td>
                        <td class="table-text reduce-text">{{order.price + 15 | currencyName : 'baht'}}</td>
                        <td class="table-text reduce-text">{{order.price | currencyName : 'baht'}}</td>
                        <td class="table-text reduce-text">{{(order.price + 15) * order.quantity | currencyName: 'baht'}}</td>
                        <td class="table-text reduce-text"><a href="javascript:void(0)" ng-click="showInvoice(order)">#{{order.invoice}} </a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p style="text-align: center" class="hide-on-large-only"> <i class="material-icons" style="vertical-align: middle">touch_app</i> Swipe to scroll through table</p>
        <p style="text-align: center" class="grey-text">*NB We will cancel any pending orders after 7 days</p>
    </div>
</div>