<!--<div style="position: absolute; top: 50%; left: 50%"><h1>Auctions</h1></div>-->
<div class="card z-depth-0">
    <div class="card-content">
        <div class="">
            <span class="card-title left green-dark-text" style="font-size: 16px; font-weight: 500; letter-spacing: .04em; text-transform: uppercase"><i
                    class="material-icons green-dark-text left" style="font-size: 30px">label</i>Purchases</span>
            <p class="right">
                <input type="checkbox" class="filled-in center" id="clear-all" />
                <label for="clear-all">Clear all</label>
            </p>
        </div>

        <div class="divider"></div>

        <ul class="collection">
            <li class="collection-item avatar item with-avatar" ng-repeat="auction in auctions" style="padding-left: 57px" ng-click="displayInfo(auction)">
                <img src="{{auction.image}}" alt="auction.name" class="circle" style="opacity: 1; left: 0; height:50px; width:50px">
                <span class="black-text" style="font-size: 16px">{{auction.name}}</span>
                <p class="item-subtitle grey-text" style="font-size: 14px"><span class="tooltipped" data-delay="50" data-position="bottom" data-tooltip="Product price"><i
                        class="material-icons blue-text" style="font-size: 20px; vertical-align: middle; margin-right: 6px">label_outline</i>{{auction.price}}</span><br>
                </p>
                <a class="secondary-content tooltipped" data-delay="50" data-position="bottom" data-tooltip="Delivered" style="right: 0"><i class="material-icons light-green-text darken-2"
                                                                  ng-if="auction.won">check_circle</i></a>
                <a class="secondary-content tooltipped" data-delay="50" data-position="bottom" data-tooltip="Pending delivery" style="right: 0"><i class="material-icons red-text darken-2"
                                                                   ng-if="!auction.won">info</i></a>
            </li>
        </ul>
    </div>
</div>