<ul class="collection with-header hide-on-med-and-down z-depth-1">
    <li class="collection-header main-green" style="padding: 5px 10px; border-bottom: none">
        <p class="white-text">
            Advanced Search <i class="material-icons waves-effect waves-light right">filter_list</i>
        </p>
    </li>
    <li class="collection-item">
        <p class="input-field inline">
            <input name="grp3" type="checkbox" id="new" ng-click="$ctrl.timeFilters('new')" ng-checked="$ctrl.currentFilter === 'new'" /> <label for="new" class="black-text"> New Product</label>
        </p>
    </li>
    <li class="collection-item">
        <p class="input-field inline">
            <input name="grp2" type="checkbox" id="use" ng-click="$ctrl.timeFilters('latest')" ng-checked="$ctrl.currentFilter === 'latest'" /> <label for="use" class="black-text">Latest</label>
        </p>
    </li>
    <li class="collection-item">
        <p class="input-field inline">
            <input name="group1" type="checkbox" id="dis" ng-click="$ctrl.timeFilters('popular')" ng-checked="$ctrl.currentFilter === 'popular'" /> <label for="dis" class="black-text">Popular</label>
        </p>
    </li>
    <li class="collection-item">
        <p class="input-field inline">
            <input name="grp4" type="checkbox" id="ship" ng-click="$ctrl.timeFilters('old')" ng-checked="$ctrl.currentFilter === 'old'" /> <label for="ship" class="black-text">Old</label>
        </p>
    </li>
    <li class="collection-header teal-text text-darken-3" style="padding: 5px 10px;">Price Range</li>
    <li class="collection-item teal-text text-darken-3" style="padding: 5px 5px;">
        <form ng-submit="$ctrl.setPriceLimits()" name="price-form">
            <md-content layout-gt-sm="row" layout-padding class="rangeHolder">
                <md-input-container style="width: 50%">
                    <label>Min</label>
                    <input ng-model="$ctrl.minPrice" type="number">
                </md-input-container>
                <md-input-container style="width: 50%">
                    <label>Max</label>
                    <input ng-model="$ctrl.maxPrice" type="number">
                </md-input-container>
            </md-content>
        </form>

    </li>
    <li class="collection-item" style="padding: 0 10px 10px 10px">
        <button class="btn waves-effect btn-small" ng-click="$ctrl.setPriceLimits()">
            Apply
        </button>
        <button class="btn waves-effect btn-small red" style="margin-left: 5px;" ng-click="$ctrl.clearFilters()">
            Cancel
        </button>
    </li>

</ul>